@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.typing-animation {
  display: inline-block;
  border-right: 0.1em solid #000; /* Simulates the typing cursor */
  padding-right: 5px; /* Adjust spacing between text and cursor */
  white-space: nowrap; /* Ensures the text remains in a single line */
  overflow: hidden; /* Hides overflowing text */
}

.typing-animation span {
  animation: typing-animation 1s steps(40, end);
}

@keyframes typing-animation {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
